* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  :root {
    --background-color:#1b1b32;
    --white:white;
    --text-dark:black;
    --text-white:white;
    --purple:rgb(104, 1, 104);
}

.freecodecamp-logo {
    width: 100%;
    height: 20px;
  }

html {
  background-color: var(--background-color);
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 2vh;
  gap:2vh;
  font-size: 18px;
}

h1 {
  color:var(--white);
  font-size: 30px;
}

.main-container {
background-color: var(--white);
height: clamp(650px,80vh,800px);
width:clamp(450px,35vw,550px);
border-radius: 20px;
display: flex;
flex-direction: column;
justify-content: center;
gap:2vh;
align-items: center;
padding:40px 20px;
}

#search-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:1vh;
}

.poke-container {
  display:flex;
  flex-direction: column;
  align-items: center;
  width:100%;
}

label {
  color: var(--text-dark);
  font-size: 24px;
}

#search-input {
padding:10px;
}

#search-button {
  color: var(--text-white);
  background-color: var(--purple);
  border-radius: 20px;
  padding:10px 20px;
  border:none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  font-size: 1 rem;
  color: var(--text-white);
  background-color: var(--purple);
}

th:nth-child(even),
td:nth-child(even) {
  border-left: 5px solid var(--text-white);
}

tr {
  border-bottom: 5px solid var(--text-white);
}

td,
th {
  text-align: center;
  padding: 8px;
}

#sprite {
  height:100px;
  width:100px;
}


.normal {
  background-color: #b7b7aa;
}

.fire {
  background-color: #ff6f52;
}

.water {
  background-color: #42a1ff;
}

.electric {
  background-color: #fecc33;
}

.grass {
  background-color: #78cc55;
}

.ice {
  background-color: #66ccfe;
}

.fighting {
  background-color: #d3887e;
}

.poison {
  background-color: #c68bb7;
}

.ground {
  background-color: #dfba52;
}

.flying {
  background-color: #8899ff;
}

.psychic {
  background-color: #ff66a3;
}

.bug {
  background-color: #aabb23;
}

.rock {
  background-color: #baaa66;
}

.ghost {
  background-color: #9995d0;
}

.dragon {
  background-color: #9e93f1;
}

.dark {
  background-color: #b59682;
}

.steel {
  background-color: #abaabb;
}

.fairy {
  background-color: #ed99ed;
}

#types {
  height: 50px;
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.type {
  color: var(--text-dark);
  border-radius: 20px;
  padding:10px 20px;

}

.pokemon-identity {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
